<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>青榄星球</title>
  <meta name="description" content="青榄星球">
  <link rel="shortcut icon" type="image/x-icon" href="/static/logo.ico">
  <link rel="mask-icon" href="/static/logo.ico" color="#4C4C4C">
  <link rel="apple-touch-icon-precomposed" href="/static/logo.png">
  <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/BenzAMRRecorder.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
  <div class="dadiv">
    <div class="title">
      青 / 榄 / 星 / 球
    </div>
    <div class="tagBall" id="tagBall">
    </div>
    <div class="control">
      <div class="control-head">
        <img id="contraol-avatar" class="control-avatar" src="https://yisi-1253291586.cos.ap-guangzhou.myqcloud.com/weekup/IMG_5785.JPG" />
        <span id="contraol-name">一颗白球</span>
      </div>
      <a href="#" onclick="onClick(this, 'https://yisi-1253291586.cos.ap-guangzhou.myqcloud.com/weekup/2022.amr')">
        <div class="voice">
          <div class="bg"></div>
        </div>
      </a>
    </div>
  </div>
  <script src="/static/data.js"></script>
  <script>

    // document.body.addEventListener('touchmove', function (e) {
    //   e.preventDefault();
    // })

    defaultAmr = 'https://yisi-1253291586.cos.ap-guangzhou.myqcloud.com/weekup/2022.amr'
    defaultAvatar = "https://yisi-1253291586.cos.ap-guangzhou.myqcloud.com/weekup/IMG_5785.JPG"
    audio = new BenzAMRRecorder();
    audio.initWithUrl(defaultAmr);
    playing = ''
    // avatar = 'https://7072-prod-0gl05vc072c6e785-1309342121.tcb.qcloud.la/qinglan.jpeg'

    function onClick(elem, url, name) {
      if (url === playing) {
        if (audio.isInit()) {
          audio.playOrPauseOrResume();
        }
      } else {
        elem.querySelectorAll('.bg')[0].classList.add('voicePlay');
        // window.document.getElementById('contraol-name').innerText = name;
        // window.document.getElementById('contraol-avatar').src = avatar;
        if (playing) {
          audio.stop();
          audio = new BenzAMRRecorder();
          audio.initWithUrl(url).then(() => {
            audio.play();
          })
        } else if (audio.isInit()) {
          audio.play();
        }
        playing = url
        audio.onPlay(function () {
          elem.querySelectorAll('.bg')[0].classList.add('voicePlay');
        })
        audio.onResume(function () {
          elem.querySelectorAll('.bg')[0].classList.add('voicePlay');
        })
        audio.onPause(function () {
          elem.querySelectorAll('.bg')[0].classList.remove('voicePlay');
        })
        audio.onEnded(() => {
          elem.querySelectorAll('.bg')[0].classList.remove('voicePlay');
        });
      }
    }
  </script>

</body>

</html>