<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <title>云调用示例</title>
    <meta name="description" content="此项目实现了免鉴权调用微信服务端接口">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo.ico">
    <link rel="mask-icon" href="/static/logo.ico" color="#4C4C4C">
    <link rel="apple-touch-icon-precomposed" href="/static/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="/static/main.js"></script>
  </head>
  <body onselectstart="return false">
    <div class="show">
      <div class="title">微信云托管云调用模版</div>
      <div class="des">此项目实现了免鉴权调用微信服务端接口</div>
      <div class="des">以下功能使用了<a href="https://developers.weixin.qq.com/miniprogram/dev/api-backend/open-api/sec-check/security.msgSecCheck.html">文字安全检查接口</a></div>
      <input id="text" placeholder="在这里写点文字吧"/>
      <button id="btn" onclick="review()">安全检查</button>
    </div>
  </body>
</html>
