<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>青榄星球</title>
  <meta name="description" content="青榄星球">
  <meta name="viewport" content="user-scalable=no">
  <link rel="shortcut icon" type="image/x-icon" href="/static/logo.ico">
  <link rel="mask-icon" href="/static/logo.ico" color="#4C4C4C">
  <link rel="apple-touch-icon-precomposed" href="/static/logo.png">
  <script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/BenzAMRRecorder.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
  <div class="dadiv">
    <div class="title">
      青 / 榄 / 星 / 球
    </div>
    <div class="tagBall" id="tagBall">
    </div>
    <div class="control">
      <img class="control-avatar" src="https://yisi-1253291586.cos.ap-guangzhou.myqcloud.com/weekup/IMG_5785.JPG" />
      <span>一颗白球</span>
      <a href="#" onclick="onClick(this, 'https://yisi-1253291586.cos.ap-guangzhou.myqcloud.com/weekup/2022.amr')">
        <div class="voice">
          <div class="bg"></div>
        </div>
      </a>
    </div>
  </div>
  <script src="/static/data.js"></script>
  <script>

    document.body.addEventListener('touchmove', function (e) {
      e.preventDefault();
    })

    audio = new BenzAMRRecorder();
    playStatus = 'end';
    playing = ''

    function onClick(elem, url) {
      if (url === playing) {
        if (playStatus === 'pause') {
          audio.resume();
        } else if (playStatus === 'playing') {
          audio.pause();
        }
      } else {
        playing = url

        elem.querySelectorAll('.bg')[0].classList.add('voicePlay');
        if (audio.isInit()) {
          audio.stop();
          audio = new BenzAMRRecorder();
        }
        audio.initWithUrl(url).then(() => {
          audio.play();
        })
        audio.onPlay(function () {
          elem.querySelectorAll('.bg')[0].classList.add('voicePlay');
          playStatus = 'playing'
        })
        audio.onResume(function () {
          elem.querySelectorAll('.bg')[0].classList.add('voicePlay');
          playStatus = 'playing'
        })
        audio.onPause(function () {
          elem.querySelectorAll('.bg')[0].classList.remove('voicePlay');
          playStatus = 'pause'
        })
        audio.onEnded(() => {
          elem.querySelectorAll('.bg')[0].classList.remove('voicePlay');
          playing = ''
          playStatus = 'end'
        });
      }
    }
  </script>

</body>

</html>